.btn{
    display: inline-block;
    border-radius: 4px;
    padding: 8px 18px;
    border-color:transparent;
    cursor: pointer;
}
.btn-secondary{
    background-color: $secondary;
    color: white;
    &:hover{
        background-color: lighten($secondary,10%);
        color:  darken(white,30%);
    }
    &:focus,&:active{
        border-color:  $primary;
    }
}